/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc03               { /* Common */
	font            : 12pt 'Calibri';
	color           : #ffffff;
	}
.cc04               { /* Common */
	font            : 14pt 'Forte';
	color           : #b4e41c;
	}
.cc05               { /* Common */
	font            : bold 10pt 'Calibri';
	color           : #000000;
	}
.cc06               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 12pt 'Forte';
	color           : #000000;
	}
.cc08               { /* Common */
	font            : 11pt 'Calibri';
	color           : #b5e51d;
	}
.cc09               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc10               { /* Common */
	border          :   1.50pt solid #000000;
	}
span#e33            { /* fightlander001019.gif */
	background      : transparent url(fightlander001019.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             :  40.50pt;
	width           : 702.75pt;
	height          :2556.00pt;
	}
span#e32            { /* fightlander001018.jpg */
	background      : transparent url(fightlander001018.jpg) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             :   0.75pt;
	width           : 697.50pt;
	height          : 149.25pt;
	}
span#e31            { /* fightlander001017.gif */
	background      : transparent url(fightlander001017.gif) no-repeat top left;
	position        : absolute;
	left            : 669.00pt;
	top             :  15.00pt;
	width           : 217.50pt;
	height          : 113.25pt;
	}
span#e30            { /* fightlander001016.gif */
	background      : transparent url(fightlander001016.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             : 176.25pt;
	width           : 702.75pt;
	height          : 228.00pt;
	}
span#e29            { /* fightlander001015.gif */
	background      : transparent url(fightlander001015.gif) no-repeat top left;
	position        : absolute;
	left            : 198.00pt;
	top             : 442.50pt;
	width           : 393.75pt;
	height          :2119.50pt;
	}
div#e28             { /* Is a Free Online Martial... */
	position        : absolute;
	left            : 422.25pt;
	top             : 290.25pt;
	width           : 447.00pt;
	height          :  97.50pt;
	}
div#e27             { /* Welcome to Irishfighter.... */
	position        : absolute;
	left            : 417.75pt;
	top             : 258.75pt;
	width           : 259.50pt;
	height          :  18.75pt;
	}
span#e26            { /* fightlander001014.gif */
	background      : transparent url(fightlander001014.gif) no-repeat top left;
	position        : absolute;
	left            : 600.75pt;
	top             : 409.50pt;
	width           : 279.75pt;
	height          : 150.00pt;
	}
span#e25            { /* fightlander001013.gif */
	background      : transparent url(fightlander001013.gif) no-repeat top left;
	position        : absolute;
	left            : 600.75pt;
	top             : 409.50pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e24             { /* Contact Us */
	position        : absolute;
	left            : 607.50pt;
	top             : 416.25pt;
	width           : 254.25pt;
	height          :  18.00pt;
	}
span#e23            { /* fightlander001012.gif */
	background      : transparent url(fightlander001012.gif) no-repeat top left;
	position        : absolute;
	left            : 600.75pt;
	top             : 471.00pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e22             { /* Submit An Article  */
	position        : absolute;
	left            : 607.50pt;
	top             : 477.75pt;
	width           : 254.25pt;
	height          :  13.50pt;
	}
span#e21            { /* fightlander001011.gif */
	background      : transparent url(fightlander001011.gif) no-repeat top left;
	position        : absolute;
	left            : 198.00pt;
	top             : 409.50pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e20             { /* NEWS FEED */
	position        : absolute;
	left            : 204.75pt;
	top             : 417.75pt;
	width           : 396.75pt;
	height          :  15.00pt;
	}
span#e19            { /* fightlander001010.gif */
	background      : transparent url(fightlander001010.gif) no-repeat top left;
	position        : absolute;
	left            : 198.00pt;
	top             : 435.00pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e18             { /* FACEBOOK */
	position        : absolute;
	left            : 204.75pt;
	top             : 443.25pt;
	width           : 396.75pt;
	height          :  13.50pt;
	}
div#e17             {
	position        : absolute;
	left            : 204.75pt;
	top             : 466.50pt;
	width           : 381.75pt;
	height          :2082.75pt;
	}
div#e16             { /* Please contact us throug... */
	position        : absolute;
	left            : 607.50pt;
	top             : 440.25pt;
	width           : 263.25pt;
	height          :  27.00pt;
	}
div#e15             { /* Feel free to submit an a... */
	position        : absolute;
	left            : 607.50pt;
	top             : 502.50pt;
	width           : 268.50pt;
	height          :  47.25pt;
	}
span#e14            { /* fightlander001009.jpg */
	background      : transparent url(fightlander001009.jpg) no-repeat top left;
	position        : absolute;
	left            : 191.25pt;
	top             : 177.75pt;
	width           : 222.00pt;
	height          : 216.75pt;
	}
span#e13            { /* fightlander001008.jpg */
	background      : transparent url(fightlander001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 415.50pt;
	top             : 180.00pt;
	width           : 468.75pt;
	height          :  72.00pt;
	}
span#e12            { /* fightlander001007.jpg */
	background      : transparent url(fightlander001007.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             : 156.00pt;
	width           : 696.75pt;
	height          :  21.00pt;
	}
div#e11             { /* home */
	position        : absolute;
	left            : 419.25pt;
	top             : 158.25pt;
	width           :  54.00pt;
	height          :  17.25pt;
	}
div#e10             { /* contact  */
	position        : absolute;
	left            : 486.75pt;
	top             : 158.25pt;
	width           :  54.75pt;
	height          :  17.25pt;
	}
div#e9              { /* downloads */
	position        : absolute;
	left            : 561.75pt;
	top             : 158.25pt;
	width           :  75.75pt;
	height          :  15.75pt;
	}
div#e8              { /* We are currently looking... */
	position        : absolute;
	left            : 673.50pt;
	top             :  37.50pt;
	width           : 208.50pt;
	height          : 106.50pt;
	}
div#e7              { /* Next Issue Jan'2017  */
	position        : absolute;
	left            : 673.50pt;
	top             :  19.50pt;
	width           : 117.75pt;
	height          :  45.75pt;
	}
img#e6              { /* fightlander001006.jpg */
	position        : absolute;
	left            : 601.50pt;
	top             : 566.25pt;
	width           : 276.00pt;
	height          : 336.00pt;
	}
img#e5              { /* fightlander001005.jpg */
	position        : absolute;
	left            : 602.25pt;
	top             : 919.50pt;
	width           : 275.25pt;
	height          : 393.00pt;
	}
img#e4              { /* fightlander001004.jpg */
	position        : absolute;
	left            : 895.50pt;
	top             : 209.25pt;
	width           : 127.50pt;
	height          : 155.25pt;
	}
img#e3              { /* fightlander001003.jpg */
	position        : absolute;
	left            :  47.25pt;
	top             : 423.00pt;
	width           : 131.25pt;
	height          : 159.00pt;
	}
img#e2              { /* fightlander001002.jpg */
	position        : absolute;
	left            :  36.75pt;
	top             :  51.75pt;
	width           : 141.75pt;
	height          : 201.75pt;
	}
img#e1              { /* fightlander001001.jpg */
	position        : absolute;
	left            : 895.50pt;
	top             : 462.75pt;
	width           : 119.25pt;
	height          : 169.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           :1072.50pt;
	height          :2775.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(6909249-black-hd-background.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
