/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc03               { /* Common */
	font            : 12pt 'Calibri';
	color           : #ffffff;
	}
.cc04               { /* Common */
	font            : 14pt 'Forte';
	color           : #b4e41c;
	}
.cc05               { /* Common */
	font            : bold 10pt 'Calibri';
	color           : #000000;
	}
.cc06               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 12pt 'Forte';
	color           : #000000;
	}
.cc08               { /* Common */
	font            : 11pt 'Calibri';
	color           : #b5e51d;
	}
.cc09               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
span#e27            { /* fightlander001013.gif */
	background      : transparent url(fightlander001013.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             :  40.50pt;
	width           : 702.75pt;
	height          :2699.25pt;
	}
span#e26            { /* fightlander001012.jpg */
	background      : transparent url(fightlander001012.jpg) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             :   0.75pt;
	width           : 697.50pt;
	height          : 149.25pt;
	}
span#e25            { /* fightlander001011.gif */
	background      : transparent url(fightlander001011.gif) no-repeat top left;
	position        : absolute;
	left            : 487.50pt;
	top             :  15.00pt;
	width           : 217.50pt;
	height          : 113.25pt;
	}
span#e24            { /* fightlander001010.gif */
	background      : transparent url(fightlander001010.gif) no-repeat top left;
	position        : absolute;
	left            :   4.50pt;
	top             : 176.25pt;
	width           : 702.75pt;
	height          : 228.00pt;
	}
span#e23            { /* fightlander001009.gif */
	background      : transparent url(fightlander001009.gif) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 442.50pt;
	width           : 393.75pt;
	height          :2231.25pt;
	}
div#e22             { /* Is a Free Online Martial... */
	position        : absolute;
	left            : 240.75pt;
	top             : 290.25pt;
	width           : 447.00pt;
	height          :  97.50pt;
	}
div#e21             { /* Welcome to Irishfighter.... */
	position        : absolute;
	left            : 236.25pt;
	top             : 258.75pt;
	width           : 259.50pt;
	height          :  18.75pt;
	}
span#e20            { /* fightlander001008.gif */
	background      : transparent url(fightlander001008.gif) no-repeat top left;
	position        : absolute;
	left            : 419.25pt;
	top             : 409.50pt;
	width           : 279.75pt;
	height          : 150.00pt;
	}
span#e19            { /* fightlander001007.gif */
	background      : transparent url(fightlander001007.gif) no-repeat top left;
	position        : absolute;
	left            : 419.25pt;
	top             : 409.50pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e18             { /* Contact Us */
	position        : absolute;
	left            : 426.00pt;
	top             : 416.25pt;
	width           : 254.25pt;
	height          :  18.00pt;
	}
span#e17            { /* fightlander001006.gif */
	background      : transparent url(fightlander001006.gif) no-repeat top left;
	position        : absolute;
	left            : 419.25pt;
	top             : 471.00pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e16             { /* Submit An Article  */
	position        : absolute;
	left            : 426.00pt;
	top             : 477.75pt;
	width           : 254.25pt;
	height          :  13.50pt;
	}
span#e15            { /* fightlander001005.gif */
	background      : transparent url(fightlander001005.gif) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 409.50pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e14             { /* NEWS FEED */
	position        : absolute;
	left            :  23.25pt;
	top             : 417.75pt;
	width           : 396.75pt;
	height          :  15.00pt;
	}
span#e13            { /* fightlander001004.gif */
	background      : transparent url(fightlander001004.gif) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 435.00pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e12             { /* FACEBOOK */
	position        : absolute;
	left            :  23.25pt;
	top             : 443.25pt;
	width           : 396.75pt;
	height          :  13.50pt;
	}
div#e11             {
	position        : absolute;
	left            :  23.25pt;
	top             : 466.50pt;
	width           : 381.75pt;
	height          :2193.00pt;
	}
div#e10             { /* T:    +447718590243 \ \E... */
	position        : absolute;
	left            : 426.00pt;
	top             : 440.25pt;
	width           : 222.75pt;
	height          :  24.75pt;
	}
div#e9              { /* Feel free to submit an a... */
	position        : absolute;
	left            : 426.00pt;
	top             : 502.50pt;
	width           : 268.50pt;
	height          :  47.25pt;
	}
span#e8             { /* fightlander001003.jpg */
	background      : transparent url(fightlander001003.jpg) no-repeat top left;
	position        : absolute;
	left            :   9.75pt;
	top             : 177.75pt;
	width           : 222.00pt;
	height          : 216.75pt;
	}
span#e7             { /* fightlander001002.jpg */
	background      : transparent url(fightlander001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 234.00pt;
	top             : 180.00pt;
	width           : 468.75pt;
	height          :  72.00pt;
	}
span#e6             { /* fightlander001001.jpg */
	background      : transparent url(fightlander001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   7.50pt;
	top             : 156.00pt;
	width           : 696.75pt;
	height          :  21.00pt;
	}
div#e5              { /* home */
	position        : absolute;
	left            : 237.75pt;
	top             : 158.25pt;
	width           :  54.00pt;
	height          :  17.25pt;
	}
div#e4              { /* contact  */
	position        : absolute;
	left            : 305.25pt;
	top             : 158.25pt;
	width           :  54.75pt;
	height          :  17.25pt;
	}
div#e3              { /* downloads */
	position        : absolute;
	left            : 380.25pt;
	top             : 158.25pt;
	width           :  75.75pt;
	height          :  15.75pt;
	}
div#e2              { /* We are currently looking... */
	position        : absolute;
	left            : 492.00pt;
	top             :  37.50pt;
	width           : 208.50pt;
	height          : 106.50pt;
	}
div#e1              { /* Next Issue Jan'2017  */
	position        : absolute;
	left            : 492.00pt;
	top             :  19.50pt;
	width           : 117.75pt;
	height          :  45.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 712.50pt;
	height          :2850.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(11218069_141285309536985_1508074870418027534_o.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
