/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc02               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc03               { /* Common */
	font            : 12pt 'Calibri';
	color           : #ffffff;
	}
.cc04               { /* Common */
	font            : 14pt 'Forte';
	color           : #b4e41c;
	}
.cc05               { /* Common */
	font            : bold 10pt 'Calibri';
	color           : #000000;
	}
.cc06               { /* Common */
	font            : 10pt 'Calibri';
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 12pt 'Forte';
	color           : #000000;
	}
.cc08               { /* Common */
	font            : 11pt 'Calibri';
	color           : #b5e51d;
	}
.cc09               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
span#e28            { /* fightlander001014.gif */
	background      : transparent url(fightlander001014.gif) no-repeat top left;
	position        : absolute;
	left            :  15.00pt;
	top             : 581.25pt;
	width           : 393.75pt;
	height          :2083.50pt;
	}
span#e27            { /* fightlander001013.gif */
	background      : transparent url(fightlander001013.gif) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             : 320.25pt;
	width           : 702.00pt;
	height          : 222.00pt;
	}
span#e26            { /* fightlander001012.jpg */
	background      : transparent url(fightlander001012.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :   1.50pt;
	width           : 696.00pt;
	height          : 263.25pt;
	}
div#e25             { /* Is a Free Online Martial... */
	position        : absolute;
	left            : 241.50pt;
	top             : 436.50pt;
	width           : 447.00pt;
	height          :  97.50pt;
	}
div#e24             { /* Welcome to Irishfighter.... */
	position        : absolute;
	left            : 237.00pt;
	top             : 405.00pt;
	width           : 259.50pt;
	height          :  18.75pt;
	}
span#e23            { /* fightlander001011.gif */
	background      : transparent url(fightlander001011.gif) no-repeat top left;
	position        : absolute;
	left            : 417.75pt;
	top             : 548.25pt;
	width           : 279.75pt;
	height          : 150.00pt;
	}
span#e22            { /* fightlander001010.gif */
	background      : transparent url(fightlander001010.gif) no-repeat top left;
	position        : absolute;
	left            : 417.75pt;
	top             : 548.25pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e21             { /* Contact Us */
	position        : absolute;
	left            : 424.50pt;
	top             : 555.00pt;
	width           : 254.25pt;
	height          :  18.00pt;
	}
span#e20            { /* fightlander001009.gif */
	background      : transparent url(fightlander001009.gif) no-repeat top left;
	position        : absolute;
	left            : 417.75pt;
	top             : 609.75pt;
	width           : 279.75pt;
	height          :  27.00pt;
	}
div#e19             { /* Submit An Article  */
	position        : absolute;
	left            : 424.50pt;
	top             : 616.50pt;
	width           : 254.25pt;
	height          :  13.50pt;
	}
span#e18            { /* fightlander001008.gif */
	background      : transparent url(fightlander001008.gif) no-repeat top left;
	position        : absolute;
	left            :  15.00pt;
	top             : 548.25pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e17             { /* NEWS FEED */
	position        : absolute;
	left            :  21.75pt;
	top             : 556.50pt;
	width           : 396.75pt;
	height          :  15.00pt;
	}
span#e16            { /* fightlander001007.gif */
	background      : transparent url(fightlander001007.gif) no-repeat top left;
	position        : absolute;
	left            :  15.00pt;
	top             : 573.75pt;
	width           : 393.75pt;
	height          :  27.00pt;
	}
div#e15             { /* FACEBOOK */
	position        : absolute;
	left            :  21.75pt;
	top             : 582.00pt;
	width           : 396.75pt;
	height          :  13.50pt;
	}
div#e14             {
	position        : absolute;
	left            :  21.75pt;
	top             : 605.25pt;
	width           : 381.75pt;
	height          :2035.50pt;
	}
div#e13             { /* T:    +447718590243 \ \E... */
	position        : absolute;
	left            : 424.50pt;
	top             : 579.00pt;
	width           : 222.75pt;
	height          :  24.75pt;
	}
div#e12             { /* Feel free to submit an a... */
	position        : absolute;
	left            : 424.50pt;
	top             : 641.25pt;
	width           : 268.50pt;
	height          :  47.25pt;
	}
span#e11            { /* fightlander001006.jpg */
	background      : transparent url(fightlander001006.jpg) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 327.00pt;
	width           : 215.25pt;
	height          : 196.50pt;
	}
span#e10            { /* fightlander001005.jpg */
	background      : transparent url(fightlander001005.jpg) no-repeat top left;
	position        : absolute;
	left            : 234.75pt;
	top             : 326.25pt;
	width           : 468.75pt;
	height          :  72.00pt;
	}
span#e9             { /* fightlander001004.gif */
	background      : transparent url(fightlander001004.gif) no-repeat top left;
	position        : absolute;
	left            : 216.00pt;
	top             : 276.75pt;
	width           : 281.25pt;
	height          :  37.50pt;
	}
span#e8             { /* fightlander001003.jpg */
	background      : transparent url(fightlander001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 218.25pt;
	top             : 279.00pt;
	width           : 276.00pt;
	height          :  32.25pt;
	}
div#e7              { /* home */
	position        : absolute;
	left            : 252.00pt;
	top             : 287.25pt;
	width           :  54.00pt;
	height          :  17.25pt;
	}
div#e6              { /* contact  */
	position        : absolute;
	left            : 319.50pt;
	top             : 287.25pt;
	width           :  54.75pt;
	height          :  17.25pt;
	}
div#e5              { /* downloads */
	position        : absolute;
	left            : 394.50pt;
	top             : 287.25pt;
	width           :  75.75pt;
	height          :  15.75pt;
	}
span#e4             { /* fightlander001002.jpg */
	background      : transparent url(fightlander001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 467.25pt;
	top             :  32.25pt;
	width           : 237.00pt;
	height          : 213.00pt;
	}
div#e3              { /* We are currently looking... */
	position        : absolute;
	left            : 495.75pt;
	top             : 150.75pt;
	width           : 208.50pt;
	height          : 106.50pt;
	}
div#e2              { /* Next Issue Jan'2017  */
	position        : absolute;
	left            : 498.00pt;
	top             : 129.00pt;
	width           : 117.75pt;
	height          :  45.75pt;
	}
span#e1             { /* fightlander001001.jpg */
	background      : transparent url(fightlander001001.jpg) no-repeat top left;
	position        : absolute;
	left            :  15.75pt;
	top             : 549.75pt;
	width           : 390.75pt;
	height          :  49.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 712.50pt;
	height          :2850.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(11218069_141285309536985_1508074870418027534_o.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
